@charset "utf-8";

.boost-section {
    padding: 40px 0 100px 0;
}

.boost-section [class*="col-"] {
    padding: calc(var(--bs-gutter-x) * .5);
}

.boost-card {
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 0px 25px #FB5D5233;
    padding: 10px;
    text-align: center;
}

.boost-card .price {
    padding: 10px;
    min-height: 60px;
    background: #FFF6F5;
    border-radius: 12px;
    border: 1px solid #ECD7D4;
    text-align: center;  
    font-size: 16px;
    font-weight: 500;
    color: #494E53;
}

.boost-card .price strong {
    font-size: 30px;
    font-weight: 700;
    color: #1E212F;
}

.boost-card .content {
    padding-top: 1rem;
}

.boost-card .btn-outline-primary {
    background-color: #FFFFFF;
}

.boost-card .btn-outline-primary:hover {
    background-color: #FB5D52;
    border-color: #FB5D52;
    color: #FFFFFF !important;
}

@media only screen and (max-width:760px) {}

@media only screen and (min-width:761px) and (max-width:1024px) {}