@charset "utf-8";

.plan-info-section {
    padding-bottom: 100px;
}

.plan-info-section h3 {
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
}

.plan-info-section h3 span {
    font-size: 18px;
}

.plan-info-section h6 {
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
}

.plan-info-section ul {
    margin: 0 0 2rem 0;
    padding: 0;
    list-style: none;
}

.plan-info-section ul li {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    margin: 10px 0;
}

.plan-info-section ul li .icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
}

.plan-info-section ul li span {
    width: calc(100% - 30px);
}

.plan-info-section .btn-outline-primary {
    background-color: #FFFFFF;
}

.plan-info-section .btn-outline-primary:hover {
    background-color: #FB5D52;
    border-color: #FB5D52;
    color: #FFFFFF !important;
}

.basic-plan {
    width: 100%;
    max-width: 400px;
}

.basic-plan .basic-header {
    background: url(../img/basic-top.png) no-repeat top;
    height: 120px;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.basic-plan .basic-footer {
    background: url(../img/basic-bot.png) no-repeat top;
    height: 20px;
}

.basic-plan .basic-content {
    background: #F9B53D1A;
    border: 1px solid #F9B53D;
    border-width: 0 1px 0 1px;
    min-height: 200px;
    padding: 20px;
}

.premium-plan {
    width: 100%;
    max-width: 400px;
}

.premium-plan .premium-header {
    background: url(../img/premium-top.png) no-repeat top;
    height: 120px;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.premium-plan .premium-footer {
    background: url(../img/premium-bot.png) no-repeat top;
    height: 20px;
}

.premium-plan .premium-content {
    background: #64CE231A;
    border: 1px solid #64CE23;
    border-width: 0 1px 0 1px;
    min-height: 200px;
    padding: 20px;
}

@media only screen and (max-width:1024px) {
    .plan-info-section {
        padding-bottom: 30px;
    }

    .plan-info-section h3 {
        color: #484C5B;
    }
    
    .plan-info-section h3 span {
        font-size: 14px;
    }
    
    .plan-info-section h6 {
        color: #484C5B;
    }

    .plan-info-section ul {
        margin: 1rem 0;
    }

    .basic-plan {
        max-width: 100%;
        background: #FFFFFF;
        border-radius: 20px;
        box-shadow: 0px 0px 25px #FB5D5233;
        padding: 10px;
        margin: 1rem 0;
    }

    .basic-plan .basic-header {
        background: none;
        height: auto;
        padding: 10px;
        min-height: 60px;
        background: #FFF6F5;
        border-radius: 12px;
        border: 1px solid #ECD7D4;
        text-align: center;
    }

    .basic-plan .basic-footer {
        display: none;
    }

    .basic-plan .basic-content {
        background: none;
        border: none;
        border-width: 0;
        min-height: 200px;
        padding: 0;
    }

    .premium-plan {
        max-width: 100%;
        background: #FFFFFF;
        border-radius: 20px;
        box-shadow: 0px 0px 25px #FB5D5233;
        padding: 10px;
        margin: 1rem 0;
    }

    .premium-plan .premium-header {
        background: none;
        height: auto;
        padding: 10px;
        min-height: 60px;
        background: #FFF6F5;
        border-radius: 12px;
        border: 1px solid #ECD7D4;
        text-align: center;
    }

    .premium-plan .premium-footer {
        display: none;
    }

    .premium-plan .premium-content {
        background: none;
        border: none;
        border-width: 0;
        min-height: 200px;
        padding: 0;
    }
}

@media only screen and (min-width:761px) and (max-width:1024px) {}