@charset "utf-8";

.player-details-section {
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
    min-height: 1000px;
    background: url(../img/ellipse.svg) no-repeat center/cover;
}

.player-details-section::before {
    content: "";
    width: 1120px;
    height: 1120px;
    background-color: #FFF6F5;
    border-radius: 50%;
    position: absolute;
    left: -260px;
    top: -400px;
    z-index: -1;
}

.player-short-details {
    margin-top: 140px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(239, 223, 221, 0.50);
}

.player-short-details figure {
    margin: -140px auto 0 auto;
    width: 276px;
    height: 276px;
    position: relative;
}

.player-short-details figure figcaption {
    background: linear-gradient(90deg, rgba(251, 93, 82, 0) 0%, #FB5257 51.52%, rgba(251, 93, 82, 0) 100%);
    width: 100%;
    min-height: 40px;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    left: 0;
    bottom: 10px;
}

.player-short-details figure .recommended {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    font-size: 14px;
    font-weight: 400;
    color: #2860F1;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    position: absolute;
    bottom: 120px;
    left: -100px;
    width: 90%;
    text-align: center;
}

.player-short-details figure img {
    border-radius: 10px;
}

.player-short-details h6 {
    margin: 0;
    font-size: 18px;
}

.player-short-details .verified {
    font-size: 14px;
    font-weight: 500;
    color: #64CE23;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.player-short-details .rating {
    font-size: 14px;
    font-weight: 400;
    color: #929292;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.player-short-details .rating strong {
    font-weight: 600;
    color: #484C5B;
}

.player-short-details .address {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.player-short-details .address p {
    margin: 0;
    font-size: 14px;
}

.player-short-details .text-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.player-short-details .text-icon p {
    margin: 0;
    font-size: 14px;
}

.player-short-details .text-icon i {
    width: 20px;
    text-align: center;
    color: #494E53;
}

.player-short-details .prize {
    font-size: 18px;
    font-weight: 700;
    color: #484C5B;
}

.player-short-details .prize span {
    font-size: 14px;
    font-weight: 400;
}

.player-short-details .free {
    font-size: 12px;
    color: #FB5D52;
}

.player-short-details ul.tags {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.player-short-details ul.tags li {
    background: #FEF9E8;
    border: 1px solid #EFE6C7;
    border-radius: var(--bs-border-radius);
    text-align: center;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    color: #494E53;
}

.player-short-details .btn-secondary,
.player-short-details .btn-success,
.player-short-details .btn-info,
.player-short-details .btn-light {
    font-size: 14px;
    width: 100%;
}

.tabs-content {
    padding: 30px 0 0 0;
}

.tabs-content h6 {
    font-weight: 700;
}

.tabs-content p {
    font-weight: 500;
}

.tabs-content ul {
    padding-left: 1rem;
}

.tabs-content ul li {
    font-size: 16px;
    font-weight: 500;
    color: #484C5B;
    margin: 5px 0;
}

.tabs-content .online {
    margin: 5px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}

.tabs-content .online .icon {
    width: 22px;
    height: 22px;
    background-color: rgba(96, 214, 105, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #60D669;
}

.tabs-content .online p {
    margin: 0;
    font-weight: 700;
    color: #60D669;
}

.tabs-content .location {
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}

.tabs-content .location .icon {
    width: 22px;
    height: 22px;
    background-color: rgba(72, 76, 91, 0.15);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #484C5B;
}

.tabs-content .location p {
    width: calc(100% - 40px);
    margin: 0;
    font-weight: 500;
    color: #484C5B;
}

ul.tabs-details {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(251, 93, 82, 0.4);
    transition: all .4s ease-in-out;
}

ul.tabs-details>li {
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
}

ul.tabs-details>li a {
    color: #494E53;
    display: block;
    padding: 0.6em 0;
}

ul.tabs-details li a.active {
    color: #FB5D52;
    border-bottom: 3px solid #FB5D52;
}

.certificates-slider {
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(239, 223, 221, 0.50);
}

.certificates-slider figure {
    margin-bottom: 0.5rem;
}

.certificates-slider img,
.photos-js .item img,
.videos-js .item img {
    border-radius: 10px;
}

.certificates-slider p {
    margin: 0;
}

.certificates-slider h6 {
    margin-bottom: 1rem;
}

.certificates-js,
.photos-js,
.videos-js {
    margin: 0 -15px;
}

.certificates-js .item,
.photos-js .item,
.videos-js .item {
    padding: 0 15px;
}

.popular-teachers-section {
    padding: 50px 0;
    background-color: #FFF3F2;
    position: relative;
    z-index: 9;
}

.popular-teachers-section h2 {
    font-weight: 700;
    margin-bottom: 1rem;
}

.popular-teachers-js {
    margin: 0 -15px;
}

.popular-teachers-js .item {
    padding: 15px;
}

.teacher-box {
    padding: 5px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(239, 223, 221, 0.50);
}

.teacher-box figure {
    margin: 0;
    padding: 0;
}

.teacher-box figure img {
    border-radius: 10px;
}

.teacher-box article {
    padding: 10px;
}

.teacher-box article h6 {
    font-size: 18px;
}

.teacher-box article p {
    margin: 0 0 .3rem 0;
    font-size: 14px;
}

.teacher-box article p .fa-location-dot {
    font-size: 16px;
    margin-right: 5px;
}

.teacher-box article .rating {
    font-size: 12px;
    gap: 5px;
}

.reviews-box {
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(239, 223, 221, 0.50);
    padding: 5px 20px;
}

.reviews-box .scrollbar {
    height: 530px;
    overflow: auto;
}

.reviews-box .card {
    padding: 15px 0;
    background: url(../img/q-mark.svg) no-repeat top;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #E4E4E6;
}

.reviews-box .card .card-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    background: none;
    border: none;
    border-radius: 0;
    padding: 0;
}

.reviews-box .card .card-header h6 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.reviews-box .card .card-header p {
    margin: 0;
}

.reviews-box .card .card-image {
    width: 50px;
    height: 50px;
}

.reviews-box .card .card-info {
    width: calc(100% - 150px);
}

.reviews-box .card .card-rating {
    width: 64px;
}

.reviews-box .card .card-content {
    width: 100%;
}

.reviews-box .card .card-content p {
    margin-top: 1rem;
    margin-bottom: 0;
}

.accordion-flush .accordion-button {
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
    background: none !important;
}

.accordion-flush .accordion-body {
    padding: 10px 0;
}

.accordion-flush .accordion-button:focus {
    border: none !important;
    box-shadow: none !important;
}

.accordion-flush .accordion-button:not(.collapsed) {
    color: #FB5D52;
}

.accordion-flush .accordion-button::after {
    width: 24px;
    height: 24px;
    background: url(../img/plus.svg) no-repeat center;
}

.accordion-flush .accordion-button:not(.collapsed)::after {
    background: url(../img/minus.svg) no-repeat center;
}

.reviews-form .form-control {
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #ECD7D4;
    padding: 14px 15px;
    font-size: 14px;
    color: #484C5B;
    font-weight: 500;
    width: 100%;
    display: block;
}

.reviews-form .your-name {
    background: #FFFFFF url(../img/user-icon.svg) no-repeat right;
}

.reviews-form .your-email {
    background: #FFFFFF url(../img/messege-icon.svg) no-repeat right;
}

.reviews-form .your-phone {
    background: #FFFFFF url(../img/phone-icon.svg) no-repeat right;
}

.reviews-form button[type="button"] {
    width: 100%;
}


@media only screen and (max-width:760px) {
    .player-details-section {
        padding-bottom: 30px;
    }

    .popular-teachers-section {
        padding: 20px 0 10px 0;
    }

    .player-short-details ul.tags {
        gap: 5px;
    }

    .reviews-box .card .card-header h6 {
        font-size: 16px;
    }

    .accordion-flush .accordion-button {
        font-size: 16px;
    }

    .photos-slider,
    .videos-slider {
        padding: 0 15px 0 0;
    }
}

#horizontal-nav {
    display: grid;
    grid-template: auto/auto 1fr auto;
    align-items: center;
}

#horizontal-nav * {
    box-sizing: border-box;
}

#horizontal-nav ul,
#horizontal-nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#horizontal-nav .btn-prev,
#horizontal-nav .btn-next {
    transition: all 0.3s ease;
    cursor: pointer;
}

#horizontal-nav .btn-prev.hidden,
#horizontal-nav .btn-next.hidden {
    opacity: 0;
    pointer-events: none;
}

#horizontal-nav .btn-prev,
#horizontal-nav .btn-next,
#horizontal-nav .btn-prev svg,
#horizontal-nav .btn-next svg {
    width: 30px;
    outline: none;
}

#horizontal-nav .btn-prev {
    transform: scale(-1, 1);
}

#horizontal-nav .btn-prev svg,
#horizontal-nav .btn-next svg {
    width: 30px;
}

#horizontal-nav .menu-wrap {
    width: 100%;
    position: relative;
    height: 40px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 300%, 0% 500px);
    --border: 1px solid #d2e6d8;
}

#horizontal-nav .menu-anchor {
    display: grid;
    grid-template: auto/auto;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    align-items: start;
    gap: 30px;
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 40px;
}

#horizontal-nav .list-item {
    position: relative;
}

#horizontal-nav .list-item a {
    white-space: nowrap;
    display: block;
    text-decoration: none;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: all 0.3s ease;
}

.white-box {
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(239, 223, 221, 0.50);
}

.color-FB5D52 {
    color: #FB5D52;
}

.color-2860F1 {
    color: #2860F1;
}

.f-14 {
    font-size: 14px;
}

.player-short-details p {
    margin: 0;
}

.copy-url {
    margin: 15px 0;
    padding: 0;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(239, 223, 221, 0.50);
    position: relative;
}

.copy-url input[type="text"] {
    margin: 0;
    padding: 15px 40px 15px 15px;
    width: 100%;
    height: auto;
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: #494E53;
}

.copy-url button[type="button"] {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top: 4px;
}

.recommended-coaches {
    margin: 15px 0;
    padding: 10px 10px 0 10px;
    background: #FFF6F5;
    border: 1px solid #ECD7D4;
    border-radius: 15px;
}

.recommended-coaches .coache-box {
    margin: 15px auto;
}

.recommended-coaches [class*="col-"] {
    padding: calc(var(--bs-gutter-x) * .5);
}

.recommended-coaches .coache-box .top {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(239, 223, 221, 0.60);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.recommended-coaches .coache-box .top figure {
    margin: 0;
    padding: 0;
    width: 160px;
    height: 160px;
    overflow: hidden;
    position: relative;
}

.recommended-coaches .coache-box .top figure img {
    border-radius: 10px;
}

.recommended-coaches .coache-box .top figure .recommended {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    font-size: 12px;
    font-weight: 400;
    color: #2860F1;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    position: absolute;
    bottom: 65px;
    left: -50px;
    width: 90%;
    text-align: center;
}

.recommended-coaches .coache-box .top aside {
    width: calc(100% - 170px);
    padding: 5px;
}

.recommended-coaches .coache-box .rating {
    font-size: 12px;
    font-weight: 400;
    color: #929292;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.recommended-coaches .coache-box .rating strong {
    font-weight: 600;
    color: #484C5B;
}

.recommended-coaches .coache-box .verified {
    font-size: 12px;
    font-weight: 500;
    color: #64CE23;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.recommended-coaches .coache-box h6 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0.5em;
    margin-bottom: 0;
}

.recommended-coaches .coache-box p {
    font-size: 12px;
    line-height: 1.4;
    margin-bottom: .3em;
}

.recommended-coaches .coache-box p strong {
    font-weight: 600;
}

.recommended-coaches .coache-box .prize {
    font-size: 18px;
    font-weight: 700;
    color: #484C5B;
}

.recommended-coaches .coache-box .prize span {
    font-weight: 400;
}

.recommended-coaches .coache-box .free {
    font-size: 10px;
    color: #FB5D52;
    text-align: right;
}

.fa-location-dot {
    margin-top: 5px;
    margin-right: 10px;
    font-size: 18px;
    color: #7B7C82;
}

.recommended-coaches .coache-box .mid {
    background-color: #FEF9E8;
    border-radius: 0 0 10px 10px;
    padding: 10px 0;
    position: relative;
}

.recommended-coaches .coache-box .mid ul.tags {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 3px;
}

.recommended-coaches .coache-box .mid ul.tags li {
    background: #FFFFFF;
    border: 1px solid #EFE6C7;
    border-radius: var(--bs-border-radius);
    text-align: center;
    padding: 5px 7px;
    font-size: 12px;
    font-weight: 400;
    color: #494E53;
}

.hide {
    display: none !important;
}

.read-more-show,
.read-more-hide {
    background: #FFFFFF;
    border: 1px solid #EFE6C7;
    border-radius: var(--bs-border-radius);
    text-align: center;
    padding: 5px 7px;
    font-size: 12px;
    font-weight: 400;
    color: #494E53;
    display: inline-block;
}

.recommended-coaches .coache-box .mid hr {
    margin: .5em auto;
}

.recommended-coaches .coache-box .viewed {
    font-size: 14px;
    font-weight: 500;
    color: #484C5B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.recommended-coaches .coache-box .graph {
    font-size: 14px;
    font-weight: 500;
    color: #2860F1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.recommended-coaches .coache-box .bot {
    margin-top: -10px;
    min-height: 50px;
    background: linear-gradient(to right, #e2f6ff 0%, #e2f6ff 50%, #dff7e1 50%, #dff7e1 100%);
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recommended-coaches .coache-box .bot button[type="button"] {
    margin-top: 10px;
    width: 50%;
    height: 40px;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #484C5B;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.recommended-coaches .coache-box .bot button[type="button"] a {
    color: #484C5B;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

@media only screen and (max-width:760px) {
    .recommended-coaches .coache-box .top {
        flex-wrap: wrap;
    }

    .recommended-coaches .coache-box .top figure {
        margin: 0 auto;
    }

    .recommended-coaches .coache-box .top aside {
        width: 100%;
    }
}

.recommended-academies {
    margin: 15px 0;
    padding: 10px 10px 0 10px;
    background: #F5F8FF;
    border: 1px solid #D4D9EC;
    border-radius: 15px;
}

.recommended-academies .academy-box {
    margin: 15px auto;
}

.recommended-academies [class*="col-"] {
    padding: calc(var(--bs-gutter-x) * .5);
}

.recommended-academies .academy-box .top {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(239, 223, 221, 0.60);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.recommended-academies .academy-box .top figure {
    margin: 0;
    padding: 0;
    width: 160px;
    height: 160px;
    overflow: hidden;
    position: relative;
}

.recommended-academies .academy-box .top figure img {
    border-radius: 10px;
}

.recommended-academies .academy-box .top figure .recommended {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    font-size: 12px;
    font-weight: 400;
    color: #2860F1;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    position: absolute;
    bottom: 65px;
    left: -50px;
    width: 90%;
    text-align: center;
}

.recommended-academies .academy-box .top aside {
    width: calc(100% - 170px);
    padding: 5px;
}

.recommended-academies .academy-box .rating {
    font-size: 12px;
    font-weight: 400;
    color: #929292;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.recommended-academies .academy-box .rating strong {
    font-weight: 600;
    color: #484C5B;
}

.recommended-academies .academy-box .verified {
    font-size: 12px;
    font-weight: 500;
    color: #64CE23;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.recommended-academies .academy-box h6 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0.5em;
    margin-bottom: 0;
}

.recommended-academies .academy-box p {
    font-size: 12px;
    line-height: 1.4;
    margin-bottom: .4em;
}

.recommended-academies .academy-box p strong {
    font-weight: 600;
}

.recommended-academies .academy-box .prize {
    font-size: 18px;
    font-weight: 700;
    color: #484C5B;
}

.recommended-academies .academy-box .prize span {
    font-weight: 400;
}

.recommended-academies .academy-box .free {
    font-size: 10px;
    color: #FB5D52;
    text-align: right;
}

.recommended-academies .academy-box .mid {
    background-color: #F5F8FF;
    border-radius: 0 0 10px 10px;
    padding: 10px 0;
    position: relative;
}

.recommended-academies .academy-box .mid ul.tags {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 3px;
}

.recommended-academies .academy-box .mid ul.tags li {
    background: #FFFFFF;
    border: 1px solid #EFE6C7;
    border-radius: var(--bs-border-radius);
    text-align: center;
    padding: 5px 7px;
    font-size: 12px;
    font-weight: 400;
    color: #494E53;
}

.recommended-academies .academy-box .mid hr {
    margin: .5em auto;
}

.recommended-academies .academy-box .viewed {
    font-size: 14px;
    font-weight: 500;
    color: #484C5B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.recommended-academies .academy-box .graph {
    font-size: 14px;
    font-weight: 500;
    color: #2860F1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.recommended-academies .academy-box .bot {
    margin-top: -10px;
    min-height: 50px;
    background: linear-gradient(to right, #e2f6ff 0%, #e2f6ff 50%, #dff7e1 50%, #dff7e1 100%);
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recommended-academies .academy-box .bot button[type="button"] {
    margin-top: 10px;
    width: 50%;
    height: 40px;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #484C5B;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.recommended-academies .academy-box .bot button[type="button"] a {
    color: #484C5B;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

@media only screen and (max-width:760px) {
    .recommended-academies .academy-box .top {
        flex-wrap: wrap;
    }

    .recommended-academies .academy-box .top figure {
        margin: 0 auto;
    }

    .recommended-academies .academy-box .top aside {
        width: 100%;
    }
}

.white-box ul.tags {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.white-box ul.tags li {
    margin: 0;
    background: #FEF9E8;
    border: 1px solid #EFE6C7;
    border-radius: var(--bs-border-radius);
    text-align: center;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 400;
    color: #494E53;
}

.content-icon {
    margin: 15px 0;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;
}

.content-icon figure {
    width: 60px;
    height: 60px;
    background-color: #FEF9E8;
    border: 1px solid #EFE6C7;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-icon article {
    width: calc(100% - 80px);
}

.content-icon article h6 {
    font-size: 20px;
    font-weight: 600;
}

.content-icon article p {
    margin-bottom: .5rem;
}

.content-icon article p span {
    font-size: 18px;
}

ul.tabs {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #FB5D5266;
    height: 50px;
}

ul.tabs li a {
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
    padding: 0 15px;
}

ul.tabs li a:hover {
    color: #FB5D52;
}

ul.tabs li.active {
    color: #FB5D52;
    border-bottom: 5px solid #FB5D52;
}

ul.tabs li.active a,
ul.tabs li.active a:hover {
    color: #FB5D52;
}

.tabContent {
    padding: 15px 0;
}

.mobile {
    display: none;
}

@media only screen and (max-width:760px) {
    ul.tabs {
        height: auto;
        flex-wrap: wrap;
    }

    ul.tabs li {
        width: 50%;
        text-align: center;
    }

    ul.tabs li a {
        text-align: center;
        padding: 0;
    }

    .recommended-coaches,
    .recommended-academies {
        display: none;
    }

    ul.tabs-details>li {
        font-size: 14px;
    }

    .content-icon article h6 {
        font-size: 18px;
    }

    .content-icon article p span {
        font-size: 16px;
    }

    .mobile {
        display: block;
    }

    .recommended-coaches .slick-prev,
    .recommended-coaches .slick-next,
    .recommended-academies .slick-prev,
    .recommended-academies .slick-next {
        top: -20px;
    }
}